<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="app.codingGround.api.user.mapper.RankingMapper">

    <select id="getRankingList" resultType="RankListDto">
        SELECT
            ROW_NUMBER() OVER (ORDER BY US.RANK_SCORE DESC) AS RANK_ORDER,
                U.USER_NICKNAME,
            U.USER_PROFILE_IMG,
            US.RANK_NUM,
            US.RANK_SCORE,
            COUNT(CASE WHEN GR.GAME_RECORD IN (1, 2, 3, 4) THEN 1 END) / COUNT(GR.GAME_RECORD) * 100 AS RECORD_PERCENTAGE
        FROM
            TB_USER U
                JOIN
            TB_USER_SEASON US ON U.USER_NUM = US.USER_NUM
                JOIN
            TB_GAME_RECORD GR ON U.USER_NUM = GR.USER_NUM AND US.SEASON_NUM = GR.SEASON_NUM
        WHERE
                US.SEASON_NUM = (
                SELECT
                    MAX(SEASON_NUM)
                FROM
                    TB_USER_SEASON
            )
        GROUP BY
            U.USER_NICKNAME, U.USER_PROFILE_IMG, US.RANK_NUM, US.RANK_SCORE
        ORDER BY
            US.RANK_SCORE DESC;
    </select>


</mapper>
