<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="app.codingGround.api.schedule.mapper.ScheduleMapper">
<!--    <insert id="insertSeason" parameterType="InsertSeasonDto">-->
<!--        INSERT INTO TB_SEASON(SEASON_NAME, SEASON_START_TIME, SEASON_ENDTIME)-->
<!--        VALUES (-->
<!--                   #{SEASONAME},-->
<!--                   #{SEASONSTARTTIME},-->
<!--                   #{SEASONENDTIME}-->
<!--               );-->
<!--    </insert>-->
</mapper>