<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="app.codingGround.api.user.mapper.UserMapper">

    <select id="getUserInfo" resultType="InfoDto">
        SELECT
            U.USER_NICKNAME,
            U.USER_AFFILIATION_DETAIL,
            U.USER_PROFILE_IMG,
            US.RANK_NUM,
            COUNT(GR.GAME_RECORD_NUM) AS matches,
            SUM(CASE WHEN GR.GAME_RECORD IN (1, 2, 3, 4) THEN 1 ELSE 0 END) AS wins,
            SUM(CASE WHEN GR.GAME_RECORD = 5 THEN 1 ELSE 0 END) AS losses,
            ROUND((SUM(CASE WHEN GR.GAME_RECORD IN (1, 2, 3, 4) THEN 1 ELSE 0 END) / COUNT(GR.GAME_RECORD)) * 100, 1) AS RECORD_PERCENTAGE
        FROM
            TB_USER U
                JOIN
            TB_USER_SEASON US ON U.USER_NUM = US.USER_NUM
                JOIN
            TB_SEASON S ON US.SEASON_NUM = S.SEASON_NUM
                LEFT JOIN
            TB_GAME_RECORD GR ON U.USER_NUM = GR.USER_NUM AND US.SEASON_NUM = GR.SEASON_NUM
        WHERE
            U.USER_ID = #{userId}
          AND US.SEASON_NUM = (SELECT MAX(SEASON_NUM) FROM TB_USER_SEASON WHERE USER_NUM = U.USER_NUM)
        GROUP BY
            U.USER_NICKNAME,
            U.USER_AFFILIATION_DETAIL,
            U.USER_PROFILE_IMG,
            US.RANK_NUM;
    </select>

    <select id="getUserRankings" resultType="RankingDto">
        SELECT
            SUM(CASE WHEN GAME_RECORD = 1 THEN 1 ELSE 0 END) AS COUNT1,
            SUM(CASE WHEN GAME_RECORD = 2 THEN 1 ELSE 0 END) AS COUNT2,
            SUM(CASE WHEN GAME_RECORD = 3 THEN 1 ELSE 0 END) AS COUNT3,
            SUM(CASE WHEN GAME_RECORD = 4 THEN 1 ELSE 0 END) AS COUNT4,
            SUM(CASE WHEN GAME_RECORD = 5 THEN 1 ELSE 0 END) AS COUNT5
        FROM
            TB_USER
                JOIN
            TB_GAME_RECORD ON TB_USER.USER_NUM = TB_GAME_RECORD.USER_NUM
        WHERE
            TB_USER.USER_ID = #{userId}
          AND TB_GAME_RECORD.SEASON_NUM = (SELECT MAX(SEASON_NUM) FROM TB_USER_SEASON WHERE USER_NUM = TB_USER.USER_NUM)
        GROUP BY
            TB_USER.USER_ID;
    </select>

    <select id="getUserBadge" resultType="GameBadgeDto">
        SELECT
        US.RANK_NUM AS NUM,
        S.SEASON_NAME AS NAME,
        S.SEASON_END_TIME AS TIME
        FROM
        TB_USER U
        JOIN
        TB_USER_SEASON US ON U.USER_NUM = US.USER_NUM
        JOIN
        TB_SEASON S ON US.SEASON_NUM = S.SEASON_NUM
        WHERE
        U.USER_ID = #{userId}
        AND S.SEASON_NUM &lt; (SELECT MAX(SEASON_NUM) FROM TB_SEASON)

        UNION

        SELECT
        B.BADGE_NUM AS NUM,
        B.BADGE_NAME AS NAME,
        A.ACQUISITION_TIME AS TIME
        FROM
        TB_USER U
        JOIN
        TB_ACHIEVEMENT A ON U.USER_NUM = A.USER_NUM
        JOIN
        TB_BADGE B ON A.BADGE_NUM = B.BADGE_NUM
        WHERE
        U.USER_ID = #{userId}

        ORDER BY TIME DESC;
    </select>

    <select id="UserGameLanguage" resultType="GameLanguageDto">
        SELECT
            L.LANGUAGE_NAME,
            COUNT(*) AS LANGUAGE_COUNT
        FROM
            TB_LANGUAGE L
                JOIN
            TB_GAME_RECORD GR ON L.LANGUAGE_NUM = GR.LANGUAGE_NUM
                JOIN
            TB_USER U ON GR.USER_NUM = U.USER_NUM
        WHERE
            U.USER_ID = #{userId}
          AND GR.SEASON_NUM = (SELECT MAX(SEASON_NUM) FROM TB_GAME_RECORD WHERE USER_NUM = U.USER_NUM)
        GROUP BY
            L.LANGUAGE_NAME;
    </select>

    <select id="getUserGameInfo" resultType="GameInfoDto">
        SELECT
            gr.GAME_NUM,
            g.GAME_TYPE,
            l.LANGUAGE_NAME,
            CASE
                WHEN g.GAME_DATE >= CURDATE() - INTERVAL 1 DAY THEN CONCAT(HOUR(TIMEDIFF(NOW(), g.GAME_DATE)), '시간 전')
            WHEN g.GAME_DATE >= CURDATE() - INTERVAL 7 DAY THEN CONCAT(DATEDIFF(NOW(), g.GAME_DATE), '일 전')
            WHEN g.GAME_DATE >= CURDATE() - INTERVAL 30 DAY THEN CONCAT(FLOOR(DATEDIFF(NOW(), g.GAME_DATE) / 7), '주 전')
            WHEN g.GAME_DATE >= CURDATE() - INTERVAL 365 DAY THEN CONCAT(FLOOR(DATEDIFF(NOW(), g.GAME_DATE) / 30), '달 전')
            ELSE CONCAT(FLOOR(DATEDIFF(NOW(), g.GAME_DATE) / 365), '년 전')
        END AS TIME_DIFFERENCE,
    GROUP_CONCAT(u.USER_NICKNAME) AS USER_NICKNAMES,
    GROUP_CONCAT(u.USER_PROFILE_IMG) AS USER_PROFILE_IMGS
FROM
    TB_GAME_RECORD gr
    INNER JOIN TB_GAME g ON gr.GAME_NUM = g.GAME_NUM
    INNER JOIN TB_LANGUAGE l ON gr.LANGUAGE_NUM = l.LANGUAGE_NUM
    INNER JOIN TB_USER u ON gr.USER_NUM = u.USER_NUM
WHERE
    g.GAME_DATE IS NOT NULL
GROUP BY
    gr.GAME_NUM, g.GAME_TYPE, l.LANGUAGE_NAME, TIME_DIFFERENCE
HAVING
    SUM(CASE WHEN u.USER_ID = #{userId} THEN 1 ELSE 0 END) > 0
ORDER BY
    g.GAME_DATE DESC
LIMIT 20;
    </select>

    <select id="getGameRecordInfo" resultType="GameInfoDto">
        SELECT
            g.GAME_TYPE,
            l.LANGUAGE_NAME,
            CASE
                WHEN g.GAME_DATE >= CURDATE() - INTERVAL 1 DAY THEN CONCAT(HOUR(TIMEDIFF(NOW(), g.GAME_DATE)), '시간 전')
            WHEN g.GAME_DATE >= CURDATE() - INTERVAL 7 DAY THEN CONCAT(DATEDIFF(NOW(), g.GAME_DATE), '일 전')
            WHEN g.GAME_DATE >= CURDATE() - INTERVAL 30 DAY THEN CONCAT(FLOOR(DATEDIFF(NOW(), g.GAME_DATE) / 7), '주 전')
            WHEN g.GAME_DATE >= CURDATE() - INTERVAL 365 DAY THEN CONCAT(FLOOR(DATEDIFF(NOW(), g.GAME_DATE) / 30), '달 전')
            ELSE CONCAT(FLOOR(DATEDIFF(NOW(), g.GAME_DATE) / 365), '년 전')
        END AS TIME_DIFFERENCE,
    GROUP_CONCAT(u.USER_NICKNAME) AS USER_NICKNAMES,
    GROUP_CONCAT(u.USER_PROFILE_IMG) AS USER_PROFILE_IMGS
FROM
    TB_GAME_RECORD gr
    INNER JOIN TB_GAME g ON gr.GAME_NUM = g.GAME_NUM
    INNER JOIN TB_LANGUAGE l ON gr.LANGUAGE_NUM = l.LANGUAGE_NUM
    INNER JOIN TB_USER u ON gr.USER_NUM = u.USER_NUM
WHERE
    g.GAME_NUM = #{gamenum} -- Replace 'your_game_num_here' with the specific GAME_NUM you want
GROUP BY
    gr.GAME_NUM, g.GAME_TYPE, l.LANGUAGE_NAME, TIME_DIFFERENCE
ORDER BY
    g.GAME_DATE DESC;
    </select>

    <select id="getContactList" resultType="ContactListDto">
        SELECT
            c.CONTACT_NUM,
    c.CONTACT_TITLE,
    DATE_FORMAT(c.CONTACT_TIME, '%Y/%m/%d %H:%i') AS CONTACT_TIME,
    u.USER_NICKNAME,
    CASE
        WHEN c.CONTACT_ANSWER IS NULL THEN 0
        ELSE 1
        END AS ANSWER_STATUS
FROM
    TB_CONTACT c
        INNER JOIN
    TB_USER u
    ON
        c.USER_NUM = u.USER_NUM
CROSS JOIN (SELECT @row_number := 0) AS dummy -- 초기화
WHERE
    c.USE_STATUS = 1
  AND
    u.USER_ID =  #{userId}
ORDER BY
    ANSWER_STATUS ASC,
    c.CONTACT_NUM DESC;
    </select>

    <select id="getmyinquirydetail" resultType="InquiryDetailDto">
        SELECT
            c.CONTACT_TITLE,
            c.CONTACT_CONTENT,
            c.CONTACT_ANSWER,
            c.USE_STATUS,
            u.USER_NICKNAME
        FROM
            TB_CONTACT c
                INNER JOIN
            TB_USER u ON c.USER_NUM = u.USER_NUM
        WHERE
            c.CONTACT_NUM = #{contactNum}
    </select>
</mapper>
